body {
    margin: 0;
    padding: 0;
    background-color: rgb(31, 30, 30);
}

main {
    margin-top: 50px;
    height: 100%;
    min-height: 100vh;
    padding: 20px;
    background-color: rgb(31, 30, 30);
}

label, h2 {
    color: white;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.form-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.form-row input {
    width: 400px;
    padding: 10px;
}

.form-row textarea {
    padding: 10px;
}

.form-row input,textarea {
    border-radius: 6px;
    border: 1px solid black;
}

#textarea-email {
    width: 500px;
    height: 200px;
}

#textarea-row {
    display: flex;
    flex-direction: column;
}

button {
    width: 520px;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: #8800ff;
    border: 2px solid #8800ff;
    border-radius: 6px;
    cursor: pointer;
    transition: background 300ms ease;
    &:hover {
        background-color: rgb(31, 30, 30);
        color: #8800ff;
    }
}